<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LOGIN</title>
    <link rel="stylesheet" href="/static/CSS/style1.css" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="/static/CSS/owl.carousel.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>

    <script type="text/javascript">
      addEventListener(
        'load',
        function () {
          setTimeout(hideURLbar, 0)
        },
        false
      )
      
      function hideURLbar() {
        window.scrollTo(0, 1)
      }
      function login() {
        var uname = document.getElementById('uname').value
        var pwd = document.getElementById('pwd').value
      
        if (uname == 'admin' && pwd == 'admin') {
          alert('Login Success!')
      
          window.location = "{{url_for('admin')}}"
          return true
        } else {
          alert('Invalid Credentials!')
        }
      }
    </script>
  </head>

  <body>
    <div id="abc">
      <div class="container">
        <div class="logo">
          <img src="/static/images/pngegg.png" alt="logo" height="5%" width="10%" />
        </div>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <!-- <li><a href="admin.html">Admin</a></li> -->
          </ul>
        </nav>
      </div>

      <section>
        <div class="Scriptcontent">
          <form class="codehim-form" action="/admin" method="POST">
            <div class="loginimage">
              <img src="/static/images/admin-logo.jpg" />
              <h2>ADMIN</h2>
            </div>
            <label for="username"><i class="fa fa-envelope"></i>Admin:</label>
            <input type="text" id="uname" class="cm-input" placeholder="Enter your admin" name="username" />

            <label for="password"><i class="fa fa-lock"></i> Password:</label>
            <input type="password" id="pwd" class="cm-input" placeholder="Enter your password" name="password" />

            <input type="button" class="btn-login gr-bg" value="loginn" onclick="login()" />
          </form>

          <!-- Stylish Login Page End -->
        </div>
      </section>
    </div>
  </body>
</html>
